* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
  background-position: center;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .log {
  width: 80px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}
.content {
  text-align: center;
}

.content h1 {
  font-size: 160px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.content h1:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/7) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/7) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

.footer {
  margin-top: 0px;
  width: 100%;
  padding: 100px 15%;
  background: #333;
  color: #efefef;
  display: flex;
}

.footer div {
  text-align: center;
}
.col-2 {
  flex-grow: 2;
}
.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

.social-icons {
  margin-top: 30px;
}
.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}

.go-top-continer {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}

.go-top-botton {
  width: 0rem;
  height: 0rem;
  background-color: azure;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  top: 48%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: -1;
}
.go-top-botton i {
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) scale(0);
  color: #333;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-botton {
  animation: popup 0.3s ease-in-out;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 0rem;
    height: 0rem;
  }
  100% {
    width: 6.6rem;
    height: 6.6rem;
  }
}
